MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=test
MONGO_JAMENDO_READ_PASSWORD=jam1
MONGO_JAMENDO_READWRITE_PASSWORD=jam2
MONGO_DEEZER_READ_PASSWORD=dee1
MONGO_DEEZER_READWRITE_PASSWORD=dee2
MONGO_MUSICLYNX_READ_PASSWORD=mus1
MONGO_MUSICLYNX_READWRITE_PASSWORD=mus2
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=secretkey
